//Global
$white: #FEFEFE;
$text: #586A84;
$gray: #7C8BA0;
$gray1: #647285;
$gray2: #EFF5FE;
$gray3: #9EA8BB;
$gray4: #F2F6FA;
$blue: #319DFF;
$lightBlue: #EBF3FF;
$lightBlue1: #E5F3FF;
$lightBlue2: #7D8FA9;
$black1: #3B4758;
$red: #FF316A;
$green: #50DB91;
$borderBlue: #A2B7D5;
$lightGreen: rgba(80, 219, 145, 0.25);
$lightRed: rgba(255, 98, 98, 0.12);
$lightGray: rgba(0, 0, 0, 0.26);